.l_t_header {
  margin-left: 5%;
  position: relative;
  margin-bottom: 3rem;
}

.l_t_header::after {
  content: " ";
  position: absolute;
  border-bottom: 10px solid white;
  width: 50%;
  height: 0.2rem;
}

.languages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 5%;
  margin-right: 5%;
  gap: 3rem;
}

.languages>div {
  display: block;
  position: relative;
  background: var(--color-bg-variant);
  padding: 1rem 3rem;
  border-radius: 3rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.languages>div:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.languages>div h2 {
  text-align: center;
  padding: 0.1rem;
  color: var(--color-bg-primary);
  font-size: 2rem;
}

.languages h3 {
  background: transparent;
  padding: 0.1rem;
  display: flex;
  color: var(--color-bg-primary);
  font-size: 1.2rem;
}

.languages h3:hover {
  color: white;
}

.content {
  margin-top: 1.5rem;
  /* align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 2rem; */
  row-gap: 1rem;
  padding-bottom: 5rem;
}

.see_more_tech {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 20px;
}

.experience_info_container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.set_cursor_click {
  cursor: pointer;
}

.category {
  perspective: 1000px;
  height: 100%;

  transition: height 2s;
}

.category_inner {
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.rotate_transform {
  transform: rotateY(180deg);
}

.category_front,
.category_back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the back side */
.category_back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 10%;

  display: flex;
  flex-direction: column;
}

.category_inner.rotate_transform .category_front {
  opacity: 0;
  transition: opacity 1s;
}

.category_inner .category_front {
  opacity: 100;
  transition: opacity 1s;
}

.category_back .btn {
  margin-top: auto;
}

.note_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  flex-grow: 1;
  gap: 3rem;
  margin-bottom: 1rem;
}

.note_grid div {
  padding: 10%;
  background: var(--color-primary-variant);
  border-radius: 2rem;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
}

.note_grid div:hover {
  background: transparent;
  transition: var(--transition);
}

.note_grid h3 {
  color: white;
}

/* Medium Devices */
@media screen and (max-width: 1024px) {
  .languages {
    grid-template-columns: 1fr;
  }

  .languages>div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
}

/* Small Devices */
@media screen and (max-width: 600px) {
  .l_t_header {
    margin-top: 2rem;
  }

  .languages {
    gap: 2rem;
  }

  .languages>div {
    width: 100%;
  }

  .logo.center_text {
    justify-content: center;
    text-align: center;
  }

  .text-light.center_text {
    padding-top: 2rem;
  }

  .note_grid {
    gap: 1rem;
  }

  .note_grid div:hover {
    background: var(--color-primary-variant);
  }

  .languages>div:hover {
    background: var(--color-bg-variant);
  }

}