header {
    height: 100vh;
    padding-top: 1rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.links {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.socials {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}

.socials::before {
    content: '';
    width: 2rem;
    height: 1px;
    background: var(--color-bg-primary);
}

.socials::after {
    content: '';
    width: 2rem;
    height: 1px;
    background: var(--color-bg-primary);
}

.me {
    width: 40rem;
    height: 55rem;
    position: absolute;
    left: calc(50% - 20rem);
}

/* Medium Devices */
@media screen and (max-width: 800px) {
    header {
        height: 68vh;
    }
}

/* Small Devices */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
}

@media screen and (max-width: 400px) {
    header {
        height: 135vh;
    }
}

@media screen and (max-width: 600px) and (min-height: 800px) {
    header {
        height: 100vh;
    }
}

@media screen and (max-width: 600px) and (min-height: 700px) {
    header {
        height: 120vh;
    }
}

@media screen and (max-width: 600px) and (min-height: 900px) {
    header {
        height: 95vh;
    }
}