.about__me__header {
    margin-left: 5%;
    height: fit-content;
    position: relative;
    margin-bottom: 3rem;
}

.about__me__header::after {
    content: " ";
    position: absolute;
    border-bottom: 10px solid white;
    width: 50%;
    height: 0.2rem;
}

.about__me__geninfo {
    margin-left: 5%;
}

.introtext {
    margin-left: 5%;
    margin-top: 5rem;
}

.languages {
    display: grid;
    grid-template-columns: 30rem 30rem 30rem;
    gap: 3rem;
}

.languages>div {
    background: var(--color-bg-variant);
    padding: 1rem 5rem;
    border-radius: 3rem;
    border: 1px solid transparent;
}

.languages h3 {
    background: transparent;
    padding: 0.1rem;
    display: flex;
    color: var(--color-bg-primary);
    font-size: 1.3rem;
}

.languages h2 {
    background: transparent;
    padding: 0.1rem;
    display: flex;
    color: var(--color-bg-primary);
    font-size: 2rem;
}

.languages h3:hover {
    color: white;
}

.text-light {
    font-size: 20px;
}

.content {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}