.about__me__header {
    margin-left: 5%;
    height: fit-content;
    position: relative;
    margin-bottom: 3rem;
}

.about__me__header::after {
    content: " ";
    position: absolute;
    border-bottom: 10px solid white;
    width: 50%;
    height: 0.2rem;
}

.about__me__geninfo {
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.introtext {
    margin-left: 5%;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

/* Languages and Technologies */
.languages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    gap: 3rem;
}

.languages>div {
    background: var(--color-bg-variant);
    padding: 1rem 3rem;
    border-radius: 3rem;
    border: 1px solid transparent;
}

.languages>div h2 {
    text-align: center;
    padding: 0.1rem;
    color: var(--color-bg-primary);
    font-size: 2rem;
}

.languages h3 {
    background: transparent;
    padding: 0.1rem;
    display: flex;
    color: var(--color-bg-primary);
    font-size: 1.2rem;
}

.languages h3:hover {
    color: white;
}

.content {
    margin-top: 1.5rem;
    /* align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 2rem; */
    row-gap: 1rem;
}

/* Medium Devices */
@media screen and (max-width: 1024px) {
    .languages {
        grid-template-columns: 1fr;
    }

    .languages > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
}

/* Small Devices */
@media screen and (max-width: 600px) {
    .languages {
        gap: 1rem;
    }

    .languages > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}