#ClassItem {
  margin: 5rem 1% 1% 1%;
  border: 2px solid white;
  border-radius: 10px;
}

.class_intro {
  margin-left: 5%;
  position: relative;
  margin-bottom: 2rem;
}

.class_intro::after {
  content: " ";
  position: absolute;
  width: 50%;
  height: 0.2rem;
  border-bottom: 8px solid white;
}

.class_link {
  margin-left: 5%;
  margin-right: 5%;
}

.class_item_intro {
  margin-left: 5%;
  position: relative;
  margin-bottom: 2rem;
}

.class_item_intro::after {
  content: " ";
  position: absolute;
  width: 50%;
  height: 0.2rem;
  border-bottom: 5px solid white;
}

.summary_intro {
  margin-bottom: 1rem;
}

.summary_text {
  margin-left: 5%;
  margin-right: 5%;
}

.omscs_languages {
  background: var(--color-bg-variant);
  border-radius: 1rem;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;

  display: flex;
  flex-wrap: wrap;
  gap: 20%;

  justify-content: center;
}

.omscs_tech_item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  padding-top: 2rem;
  padding-bottom: 2rem;

  color: var(--color-bg-primary);

}

.omscs_tech_item_icon {
  justify-self: center;
}

.omscs_tech_item_icon:hover {
  color: white;
  transition: all 100ms ease;
}