.class_data {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.introtext.classintro::after {
  border-bottom: 8px solid white;
}

.introtext.classitemintro::after {
  border-bottom: 5px solid white;
}

#ClassItem {
  margin-top: 5rem;
}