navbar {
    background: rgba(0, 0, 0, 0.5);
    width: max-content;
    display: block;
    padding: 0.3rem 1.3rem;
    z-index: 2;
    position: fixed;
    margin-left: -145px;
    left: 50%;
    bottom: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 25px;
    backdrop-filter: blur(15px);
}

navbar a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-white);
    font-size: 1.3rem;
}

navbar a:hover {
    background: rgba(0, 0, 0, 0.5);
}