.introtext {
    margin-left: 5%;
    height: fit-content;
    position: relative;
    margin-bottom: 3rem;
}

.introtext::after {
    content: " ";
    position: absolute;
    border-bottom: 10px solid white;
    width: 50%;
    height: 0.2rem;
}

.experience_grid {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin-bottom: 5%;
}

.experience_item {
    display: grid;
    background: var(--color-bg-variant);
    padding: 1.3rem;
    max-height: 27rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience_item:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.item_title_text {
    text-align: center;
    color: var(--color-bg-primary);
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.icon {
    background: transparent;
    padding: 0.1rem;
    display: flex;
    color: var(--color-bg-primary);
    font-size: 1.2rem;
    justify-content: center;
}

.icon:hover {
    color: white;
}

.full_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.r_btn {
    justify-self: end;
    align-self: flex-end;
    max-height: 3rem;
}

.r_list {
    margin-left: 10px;
    margin-top: 5px;
}

.pop_up_window {
    max-width: 25vw;
    justify-self: center;
}

.session_name {
    font-size: 1.2rem;
}

.line{
    content: " ";
    position: absolute;
    border-bottom: 1px solid white;
    width: 50%;
}

/* Mobile Devices */
@media screen and (max-width: 600px) {
    .experience_grid {
        grid-template-columns: 1fr;
    }

    .pop_up_window {
        max-width: 100vw;
    }
}