.page_header_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.header_item {
  flex: 1;
  padding: 10px;
  text-align: center;

  background-color: var(--color-bg-variant);
  margin: 10px;
  border-radius: 20px;
}

.header_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}